@model shorter.Models.LinkViewModel

@{
    ViewData["Title"] = "Редактировать ссылку";
}

<h1>Редактировать ссылку</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ShortenedUrl" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="ClickCount" />
    <div class="form-group">
        <label asp-for="LongUrl" class="control-label">Длинная ссылка:</label>
        <input asp-for="LongUrl" class="form-control" />
        <span asp-validation-for="LongUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
